In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame({'a': (1,2,3), 'b':(4.6, 2.5,4.1)})

In [6]:
df.columns

Index(['a', 'b'], dtype='object')

In [7]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [8]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [19]:
pd.read_csv('float.csv')['num'].astype('boolean')

0    False
1     True
2    False
3     <NA>
Name: num, dtype: boolean

In [22]:
def dic_frame(dic: dict):
    df = pd.DataFrame(dic)
    for _, col_series in df.items():
        col_series = col_series.astype(col_series.dropna().dtype.name)
    return df

def csv_frame(dic: dict):
    df = pd.read_csv(dic)
    for _, col_series in df.items():
        col_series = col_series.astype(col_series.dropna().dtype.name)
    return df

In [24]:
csv_frame('float.csv')['num']

0    False
1     True
2    False
3      NaN
Name: num, dtype: object

In [ ]:
pd.read_csv('float.csv')

AttributeError: 'str' object has no attribute 'astype'

In [ ]:
import pandas as pd
import numpy as np

def load_csv_with_nullable_types(filepath, **kwargs):
    df = pd.read_csv(filepath, **kwargs)
    nullable_df = pd.DataFrame()

    for col in df.columns:
        series = df[col]
        non_null_series = series.dropna()

        if non_null_series.empty:
            # default to object if there's nothing to infer
            nullable_df[col] = series.astype("object")
            continue

        inferred_dtype = pd.api.types.infer_dtype(non_null_series, skipna=True)

        # Map inferred dtype to a pandas nullable type
        if inferred_dtype in {"integer"}:
            nullable_df[col] = series.astype("Int64")
        elif inferred_dtype in {"floating"}:
            try:
                nullable_df[col] = series.astype("Int64")
            except:
                nullable_df[col] = series.astype("Float64")
        elif inferred_dtype in {"boolean"}:
            nullable_df[col] = series.astype("boolean")
        elif inferred_dtype in {"string", "unicode", "datetime"}:
            try:
                nullable_df[col] = pd.to_datetime(nullable_df)
            except:    
                nullable_df[col] = series.astype("string")
        else:
            nullable_df[col] = series.astype("object")

    return nullable_df


def load_dict_with_nullable_types(dic, **kwargs):
    df = pd.DataFrame(dict)
    nullable_df = pd.DataFrame()

    for col in df.columns:
        series = df[col]
        non_null_series = series.dropna()

        if non_null_series.empty:
            # default to object if there's nothing to infer
            nullable_df[col] = series.astype("object")
            continue

        inferred_dtype = pd.api.types.infer_dtype(non_null_series, skipna=True)

        # Map inferred dtype to a pandas nullable type
        if inferred_dtype in {"integer"}:
            nullable_df[col] = series.astype("Int64")
        elif inferred_dtype in {"floating"}:
            try:
                nullable_df[col] = series.astype("Int64")
            except:
                nullable_df[col] = series.astype("Float64")
        elif inferred_dtype in {"boolean"}:
            nullable_df[col] = series.astype("boolean")
        elif inferred_dtype in {"string", "unicode", "datetime"}:
            try:
                nullable_df[col] = pd.to_datetime(nullable_df)
            except:    
                nullable_df[col] = series.astype("string")
        else:
            nullable_df[col] = series.astype("object")

    return nullable_df

In [61]:
df = load_csv_with_nullable_types('float.csv')

In [62]:
df['num']

0    2025-12-01
1    2025-12-01
2    2025-12-01
3          <NA>
Name: num, dtype: string

In [63]:
pd.to_datetime(s)

0   2025-12-01
1          NaT
dtype: datetime64[ns]

In [64]:
s = pd.Series(('2025-12-01', None))

In [65]:
s

0    2025-12-01
1          None
dtype: object

In [47]:
df

          num    name
0  2025-12-01     Who
1  2025-12-01   Maryy
2  2025-12-01    Alex
3        <NA>    John

In [69]:
load_csv_with_nullable_types('data/global-air-pollution-dataset.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             23036 non-null  string
 1   City                23462 non-null  string
 2   AQI Value           23463 non-null  Int64
 3   AQI Category        23463 non-null  string
 4   CO AQI Value        23463 non-null  Int64
 5   CO AQI Category     23463 non-null  string
 6   Ozone AQI Value     23463 non-null  Int64
 7   Ozone AQI Category  23463 non-null  string
 8   NO2 AQI Value       23463 non-null  Int64
 9   NO2 AQI Category    23463 non-null  string
 10  PM2.5 AQI Value     23463 non-null  Int64
 11  PM2.5 AQI Category  23463 non-null  string
dtypes: Int64(5), string(7)
memory usage: 2.3 MB